*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bold; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none;
  width: 100%; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

@font-face {
  font-family: 'MADE Canvas';
  src: url("../fonts/MADECanvas-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'MADE Canvas';
  src: url("../fonts/MADECanvas.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MADE Canvas';
  src: url("../fonts/MADECanvas-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Algerian';
  src: url("../fonts/Algerian.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Algerian';
  src: url("../fonts/Algerian.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }
header {
  min-height: 100vh;
  background-color: #F1F1F1; }

.head {
  background-color: #373737;
  color: white;
  font-family: "Raleway", serif;
  font-size: 45px;
  font-weight: 100; }
  .head .name {
    width: 100%;
    text-align: center;
    margin: auto; }
  .head .name:hover {
    animation-name: hoverPop;
    animation-duration: .4s; }
  .head b {
    font-family: "Algerian", serif;
    color: #21bfad;
    font-weight: 900; }

.division-3 {
  display: flex;
  flex-direction: row; }

.sideC {
  background-color: #F1F1F1;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sideC .me {
    width: 50%;
    border-radius: 25%; }
  .sideC .dev {
    width: 50%; }
  .sideC span {
    font-family: "Raleway", serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    padding: 10px; }

@keyframes hoverPop {
  0%, 100% {
    transform: scale(1); }
  33% {
    transform: scale(1.05); }
  66% {
    transform: scale(0.9); } }
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }
.project {
  background-color: #FFFFFF; }

.sub-project {
  margin: auto;
  padding: 35px 10px; }
  .sub-project h2 {
    font-family: "MADE Canvas", sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #707070;
    text-align: center;
    -webkit-text-stroke-width: 0.025em; }

.real {
  margin: 36px 0; }

.real_img {
  width: 35%;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  z-index: 2; }

.real_titre {
  position: relative;
  padding: 8px 4%;
  line-height: 1;
  z-index: 1;
  clip-path: polygon(58px 0, 100% 0, calc(100% - 8px) 100%, 50px 100%);
  background-color: #373737;
  color: #FFF;
  font-family: "MADE Canvas", serif;
  font-size: 1.25em;
  text-align: center;
  -webkit-text-stroke-width: 0.025em; }

.real_desc {
  margin: 16px 0;
  font-family: "Raleway", serif;
  font-weight: 300;
  font-size: 20px; }

.real_lien::before {
  content: '> '; }

.real_lien {
  display: block;
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "MADE Canvas", serif;
  color: #707070;
  -webkit-text-stroke-width: 0.025em;
  margin-right: 24px;
  transition: 0.2s; }

.real_lien:hover {
  color: #21bfad;
  margin-right: 12px;
  cursor: pointer; }

.clearfix {
  clear: both; }

.section-parcours {
  background-color: #F1F1F1; }

.container {
  padding: 35px 25px; }

.parcours {
  display: flex;
  flex-direction: column; }
  .parcours ul {
    display: inline-block; }

.parc {
  margin: 18px 0;
  padding-left: 24px;
  border-left: 1px solid #373737;
  transition: 0.2s; }

.parc:hover {
  transform: translateX(15px); }

.parc_titre {
  font-family: "MADE Canvas", serif;
  font-size: 1.375em;
  font-weight: normal;
  -webkit-text-stroke-width: 0.025em;
  margin-bottom: 0; }

.parc_date {
  font-family: "MADE Canvas", serif;
  -webkit-text-stroke-width: 0.025em;
  margin-bottom: 0; }

.parc_lieu {
  font-weight: 200;
  margin-bottom: 0; }

.parc_desc {
  margin-top: 0.5em; }

.diplome .parc_deco::before, .diplome .parc_deco::after {
  background-color: #21bfad; }
.diplome .parc_titre, .diplome .parc_desc {
  color: #21bfad; }

.pro .parc_deco::before, .pro .parc_deco::after {
  background-color: #373737; }
.pro .parc_date {
  color: #21bfad; }

.section-competences {
  background-color: #FFFFFF; }

.bloc-competences {
  padding: 1.5em 1em 0 1em;
  border-top: 1px solid #707070;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.bcomp_titre {
  font-family: "MADE Canvas", serif;
  -webkit-text-stroke-width: 0.025em;
  font-weight: normal;
  width: fit-content;
  position: relative;
  top: 0.75em;
  margin: 0 auto;
  padding: 0 0.5em;
  background-color: #FFF; }

.comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6em; }
  .comp svg {
    width: 48px;
    height: 48px;
    filter: grayscale(1);
    margin-bottom: 2em;
    transition: 0.2s; }
  .comp span {
    opacity: 0;
    position: absolute;
    transform: translateY(52px);
    transition: 0.2s; }

.comp:hover svg {
  filter: grayscale(0); }
.comp:hover span {
  opacity: 1; }

.section-cv {
  background-color: #F1F1F1;
  margin-bottom: 80px; }
  .section-cv a.bouton {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    margin: 1em auto;
    width: fit-content; }

.section-reseaux {
  color: #FFFFFF;
  background-color: #373737;
  padding: 24px; }
  .section-reseaux div {
    font-family: "MADE Canvas", serif;
    -webkit-text-stroke-width: 0.025em;
    font-size: 1.5em;
    text-align: center;
    margin: 18px auto; }

.reseaux {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px; }

.reseau {
  color: #FFFFFF;
  transition: 0.2s; }
  .reseau svg {
    width: 40px;
    height: 40px;
    fill: #FFFFFF; }
  .reseau svg:hover {
    fill: #21bfad; }

.section-footer {
  height: 48px;
  color: #FFFFFF;
  background-color: #707070;
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  html body {
    width: 100%;
    display: flex;
    flex-direction: column; }
  html a {
    text-decoration: none;
    color: white; }
    html a:hover {
      text-decoration: none;
      color: white; }

html::-webkit-scrollbar {
  display: none; }

.container {
  width: 100%;
  padding: 36px 24px; }

.titre-section {
  font-family: "MADE Canvas", serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  -webkit-text-stroke-width: 0.025em;
  color: #707070; }

.bouton {
  text-align: center;
  align-self: flex-end;
  font-family: "MADE Canvas", serif;
  font-size: 1.25em;
  -webkit-text-stroke-width: 0.025em;
  color: #FFFFFF;
  background-color: #373737;
  padding: 0.5em 1em;
  margin-top: 1.5em;
  width: 200px;
  transition: 0.2s; }

.bouton:hover {
  background-color: #707070; }

@media screen and (min-width: 768px) {
  .sideL {
    background-color: #fffd;
    width: 33%;
    margin-top: 300px;
    float: left;
    height: 350px;
    -webkit-clip-path: polygon(100% 70%, 100% 0, 0 30%, 0 100%);
    clip-path: polygon(100% 70%, 100% 0, 0 30%, 0 100%);
    animation: 1s ease-out 0s 1 slideInFromLeft; }

  .sideR {
    background-color: #fffd;
    width: 33%;
    margin-top: 300px;
    float: right;
    height: 350px;
    -webkit-clip-path: polygon(0 70%, 0 0, 100% 30%, 100% 100%);
    clip-path: polygon(0 70%, 0 0, 100% 30%, 100% 100%);
    animation: 1s ease-out 0s 1 slideInFromRight; }

  .container {
    width: 100%; }

  .titre-section {
    text-align: left; }

  .realisations {
    display: flex;
    max-height: 700px; }

  .realisations-gauche {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .realisations-droite {
    width: 40%; }

  .real {
    margin: 0;
    padding: 36px 18px; }

  .parc {
    width: 50%;
    border: 0; }

  .diplome {
    text-align: right;
    align-self: flex-start;
    padding: 0 24px 0 0;
    border-right: 1px solid #707070; }

  .diplome:hover {
    transform: translateX(-15px); }

  .pro {
    align-self: flex-end;
    border-left: 1px solid #707070; } }
@media screen and (min-width: 1200px) {
  body {
    font-size: 110%; }

  .container {
    width: 1200px;
    margin: 0 auto; }

  .sideC {
    width: 33%; } }

/*# sourceMappingURL=style.css.map */
