header {
  min-height: 100vh;
  background-color: #F1F1F1;
}

.head {
  background-color: #373737;
  color: white;
  font-family: "Raleway", serif;
  font-size: 45px;
  font-weight: 100;

  .name {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .name:hover {
    animation-name: hoverPop;
    animation-duration: .4s;
  }

  b {
    font-family: "Algerian", serif;
    color: #21bfad;
    font-weight: 900;
  }
}

.division-3 {
  display: flex;
  flex-direction: row;
}

.sideC {
  background-color: #F1F1F1;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .me {
    width: 50%;
    border-radius: 25%;
  }
  .dev {
    width: 50%;
  }

  .phrase_accroche {
    font-family: "Raleway", serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    padding: 10px;
  }
}

@keyframes hoverPop {
  0%, 100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(.90);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}
