.project {
  background-color: #FFFFFF;
}

.sub-project {
  margin: auto;
  padding: 35px 10px;
  h2 {
    font-family: "MADE Canvas", sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #707070;
    text-align: center;
    -webkit-text-stroke-width: 0.025em;
  }

}

.real {
  margin: 36px 0;
}

.real_img {
  width: 35%;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  z-index: 2;
}

.real_titre {
  position: relative;
  padding: 8px 4%;
  line-height: 1;
  z-index: 1;
  clip-path: polygon(58px 0, 100% 0, calc(100% - 8px) 100%, 50px 100%); // fond biseauté
  background-color: #373737;
  color: #FFF;
  font-family: "MADE Canvas", serif;
  font-size: 1.25em;
  text-align: center;
  -webkit-text-stroke-width: 0.025em;
}

.real_desc {
  margin: 16px 0;
  font-family: "Raleway", serif;
  font-weight: 300;
  font-size: 20px;
}

.real_lien::before {
  content: '> ';
}

.real_lien {
  display: block;
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "MADE Canvas", serif;
  color: #707070;
  -webkit-text-stroke-width: 0.025em;
  margin-right: 24px;
  transition: 0.2s;
}

.real_lien:hover {
  color: #21bfad;
  margin-right: 12px;
  cursor: pointer;
}

.clearfix {
  clear: both;
}