@import "_reset";
@import "_fonts";
@import "header";

html {
  body {
    background-color: #F1F1F1;
  }

  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }

}

